*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: antiquewhite;
    min-height: 100vh;
}

.wrapper {
    margin: 0 auto ;
    display: flex;
    justify-content: center;
}

#inp {
    width: 400px;
    border: none;
    height: 28px;
    border-radius: 10px;
    margin: 10px;
    background-color: rgba(13, 49, 42, 0.966);
    color: whitesmoke;
    text-align: center;
    font-size: 1.2rem;

}

#inp:focus {
    background-color: rgba(13, 49, 42, 0.966);
}

.btn {
    width: 80px;
    height: 28px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    background-color: rgba(13, 49, 42, 0.966);
    color: whitesmoke;
}

.weather {
    width: 350px;
    height: 300px;
    border: 1px solid black;
    margin: 10px auto;
}